// User parameters
params {
    
    // Path to images
    input_dir = "/Users/wei-tunghsu/Documents/labelled_data/raw_test"
    output_dir = "/Users/wei-tunghsu/Documents/labelled_data/results"
    visual_dir = "/Users/wei-tunghsu/Documents/initial_segmentation"
    visual_train_dir = "/Users/wei-tunghsu/Downloads"
    train_dir =
    test_dir = 

    // Cellpose initial segmentation parameters
    cellpose {
        pretrained_model = 'cyto3'
        chan = 0
        diameter = 60
        cellprob_threshold = 0
        stitch_threshold = 0.05
        dP_smooth = 0.0
        anisotropy = 1.0
        use_gpu = true
    }

    // Cellpose training parameters
    train {
        pretrained_model = 'cyto3'
        new_model = 'CP_improved_100'
        chan = 0
        diameter = 60
        cellprob_threshold = 0
        stitch_threshold = 0.05
        dP_smooth = 0.0
        anisotropy = 1.0
        use_gpu = true
    }
}