// User parameters
params {
    
    // Path to images
    input_dir = "/Users/wei-tunghsu/labelled_data/raw_test"
    output_dir = "/Users/wei-tunghsu/labelled_data/results"
    visual_dir = "/Users/wei-tunghsu/Downloads"

    // Cellpose parameters
    cellpose {
        pretrained_model = 'cyto3'
        chan = 0
        diameter = 60
        cellprob_threshold = 0
        stitch_threshold = 0.05
        dP_smooth = 0.0
        anisotropy = 1.0
        use_gpu = true
    }
}